.button-box{
	// text-align: rig	ht;

}
.button{
	padding: 10px 20px;
	margin: 0 0 0 auto;
	color: $color-font-yellow;
	background: $color-bg-orange;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 2.0rem;
	// &.count{
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// }
}