.code-block {
	display: flex;
	justify-content: center;
	&.home {
		align-items: center;
		flex-direction: column;
		margin-top: 100px;
	}
	&.count {
		margin-top: 100px;
	}
}
	.code-block__link{
		display: block;
		position: absolute;
		bottom: 60px;
		width: 100%;
		padding: 10px;
		text-align: center;
		color: #fff;
		background: $color-main;
		@include mqpc {
			width: 50%;
		}
		& + & {
			margin-top: 20px;
		}
		&.home {
			position: static;
		}
	}