.flex-box {
  @include mqpc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.column {
  @include mqpc{
    // width: calc(25% - 10px);
    flex: 0 0 calc(25% - 10px); 
    margin-bottom: 23px;
  }
}


