.page-heading{
  margin-top: 50px;
  text-align: center;
  @include mqtb{
    margin-top: 60px;
    margin-bottom: 10px;
  }
}
.page-heading__text{
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.3;
  color: $color-font-brown;
  @include mqtb{
    font-size: 5rem;
  }
}
.primary-heading{
  margin-bottom: 30px;
}
.primary-heading__text{
  display: block;
  font-size: 3rem;
  font-weight: bold;
  &.line {
    border-bottom: 1px solid $color-font-brown;
  }
  @include mqsp {
    font-size: 2rem;
  } 
}
.secondary-heading{
  margin-top: 20px;
  margin-bottom: 20px;
}
.secondary-heading__text{
  font-size: 2.6rem;
  font-weight: bold;
  @include mqsp {
    font-size: 1.8rem;
  } 
}