html {
  // ルートのフォントサイズ10px
  font-size: 62.5%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // min-height: 100vh;
  // color: #2c3e50;
  color: $color-font-brown;
  // background: $color-bg-yellow;
  // ルートのフォントサイズ10px,1.4remで14px
  font-size: 1.4rem;
  line-height: 1.5;
  position: relative;
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-bg-yellow;
    mix-blend-mode: multiply;
    z-index: -1;
  }
  // &::after{
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: $color-bg-yellow;
  //   background: url(../images/main-bg16.jpg);
  //   opacity: 1;
  //   z-index: -2;
  // }
}
a {
	text-decoration: none;
  transition: 0.2s;
  &:hover {
    opacity: 0.6;
  }
}
ul{
  list-style-type: none;
}