// variables
$palette-gray: #2c3e50;
$palette-yellow: #fec617;
$palette-orange: #e27c1c;
$palette-brown: #7d5740;
$color-bg-yellow: $palette-yellow;
$color-bg-orange: $palette-orange;
$color-bg-brown: $palette-brown;
$color-font-main: $palette-gray;
$color-font-yellow: $palette-yellow;
$color-font-orange: $palette-orange;
$color-font-brown: $palette-brown;

.bg-color-brown {
  background: #7d5740 !important;
}