// utilities
.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.text-a-c {
  text-align: center !important;
}
.fw-b {
  font-weight: bold !important;
}
.text-large{
  font-size: 2rem !important;
  font-weight: bold !important;
}
.text-small{
  font-size: 1.2rem !important;
  font-weight: bold !important;
}
.df{
  display: flex !important;
}
.jcsb{
  justify-content: space-between !important;
}
.display-none{
  display: none !important;
}
.displey-block{
  display: block !important;
}
.opacity-0{
  opacity: 0 !important;
}
.opacity-1{
  opacity: 1 !important;
}
.sp-none{
  @include mqsp{
    display: none !important;
  }
}
.rotatez10{
  transform: rotateZ(10deg);
}
.rotatez-7{
  transform: rotateZ(-7deg);
}
.mts {
  margin-top: 20px !important;
}
.mtm {
  margin-top: 40px !important;
}
.mtl {
  margin-top: 60px !important;
}
.mbs {
  margin-bottom: 20px !important;
}
.mbm {
  margin-bottom: 40px !important;
}
.mbl {
  margin-bottom: 60px !important;
}
.pts {
  padding-top: 20px !important;
}
.ptm {
  padding-top: 40px !important;
}
.ptl {
  padding-top: 60px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}
.pbs {
  padding-bottom: 20px !important;
}
.pbm {
  padding-bottom: 40px !important;
}
.pbl {
  padding-bottom: 60px !important;
}
.mls{
  margin-left: 15px !important;
}
.mrs{
 margin-right: 15px !important;
}
